<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8" />
  <title>CodeBusters - Level <%= level.number %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/stylelevel.css" />
</head>
<body>
  <header class="text-center py-3">
    <h1 id="levelTitle">C++ Level <%= level.number %></h1>
    <div id="coinBalanceWrapper" class="mt-2">
      <p>Монети: <span class="coinBalance">0</span></p>
    </div>
  </header>

  <main class="container-fluid py-4 d-flex justify-content-center align-items-center flex-wrap">
    <div id="container" class="row w-200 justify-content-center g-4">
      <div id="instructions" class="col-12 col-md-10 mb-3 p-3 border rounded">
        <%- level.instructions %>
      </div>

      <div id="playground" class="col-12 col-md-10 p-3 border rounded shadow-sm">
        <%- level.playground %>
      </div>
    </div>
  </main>

  <footer class="footer fixed-bottom">
    <div class="container text-center">
      <p class="m-0">&copy; Направено от Камен и Георги</p>
    </div>
  </footer>

  <script>
    window.currentLevelNumber = <%= level.number %>;
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <%- level.scripts %>
</body>
</html>
